# ==========================================================
# Git
# ==========================================================

.git
.gitignore

# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================================
# Virtual Environments
# ==========================================================

venv/
.venv/
env/

# ==========================================================
# Environment
# ==========================================================

.env

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Testing
# ==========================================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Notebook
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# CacheMind Runtime Data
# ==========================================================

data/faiss.index
data/faiss_mapping.json

# ==========================================================
# OS
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Docker
# ==========================================================

Dockerfile.old
docker-compose.override.yml